In [5]:
import sys
import importlib
import gc
import glob
import random
from itertools import combinations

import numpy as np
import sklearn

import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import ticker
import seaborn as sns
import prettypyplot as pplt

import mdtraj as md
import pylipid
from pylipid.api import LipidInteraction

In [2]:
sys.path.insert(1, "../../python")
sys.path.insert(1, "../../..")
import util
import plotting

In [3]:
pplt.load_cmaps()
plt.style.use("custom")  # custom style sheet
plt.style.use("muted")  # muted color theme from SciencePlots
colors = mpl.colors.to_rgba_array(
    [
        "#364B9A",
        "#4A7BB7",
        "#6EA6CD",
        "#98CAE1",
        "#C2E4EF",
        "#EAECCC",
        "#FEDA8B",
        "#FDB366",
        "#F67E4B",
        "#DD3D2D",
        "#A50026",
    ]
)
cm_div = mpl.colors.LinearSegmentedColormap.from_list("diverging", colors)
mpl.colormaps.register(cm_div, force=True)

In [19]:
dcds = []
for i in range(179):
    dcds.append(f"/project/dinner/scguo/anton-old/civsd_{i}.dcd")
# for i in range(3, 119):
#     if i == 82:
#         continue
#     dcds.append(f"/project/dinner/scguo/ci-vsd/anton2/nowat/civsd.nowat.{i}.dcd")
print(len(dcds))

179

In [20]:
# topfile = "../../civsd-nowat.pdb"
topfile = "/project/dinner/scguo/ci-vsd/civsd-all.prmtop"
lipid_name = "POPC"
n_prot = 1
timeunit = "us"
save_dir = "../../data/feat2_dist_du_anton2/"

In [32]:
li = LipidInteraction(
    dcds[0:1], topfile_list=topfile, lipid=lipid_name, nprot=n_prot, save_dir=save_dir, timeunit=timeunit, stride=100)

In [27]:
traj = md.load(dcds[0], top=topfile)

In [31]:
traj.topology.select("resname POPC")

array([ 2192,  2193,  2194, ..., 32861, 32862, 32863])

In [33]:
li.collect_residue_contacts()

COLLECT INTERACTIONS FROM TRAJECTORIES: 100%|██████████| 1/1 [01:23<00:00, 83.24s/it]

In [34]:
li.dataset

    Residue  Residue ID
0      0GLN           0
1      1PHE           1
2      2ARG           2
3      3VAL           3
4      4ARG           4
..      ...         ...
129  129TYR         129
130  130SER         130
131  131HIS         131
132  132GLN         132
133  133GLN         133

[134 rows x 2 columns]

In [35]:
durations = li.compute_residue_duration()

CALCULATE DURATION PER RESIDUE: 100%|██████████| 134/134 [00:00<00:00, 313.94it/s]

In [36]:
print(len(li.residue_list), len(li.trajfile_list))
print(len(durations), len(durations[0]))
print(durations[0])

134 1
134 1
[[0.0, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0002, 0.0002, 0.0002, 0.0002, 0.0002, 0.0002, 0.0002, 0.0002, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.00030000000000000003, 0.0004, 0.0004, 0.0005, 0.0005, 0.0006000000000000001, 0.0006000000000000001, 0.0006000000000000001, 0.0006000000000000001, 0.0007, 0.0007, 0.0008, 0.0008, 0.001, 0.001, 0.001, 0.0011, 0.0011, 0.0012000000000000001, 0.0013000000000000002, 0.0013000000000000002, 0.0014, 0.0015, 0.0018000000000000002, 0.0022, 0.0025, 0.0026000000000000003, 0.003, 0.0036000000000000003, 0.0047]]

In [38]:
li.dataset.head(10)

  Residue  Residue ID  Duration  Duration std
0    0GLN           0  0.000651      0.000875
1    1PHE           1  0.000512      0.000517
2    2ARG           2  0.000779      0.000958
3    3VAL           3  0.000534      0.000626
4    4ARG           4  0.000344      0.000420
5    5ALA           5  0.000845      0.001846
6    6VAL           6  0.000503      0.000891
7    7ILE           7  0.000453      0.000707
8    8ASP           8  0.000921      0.001065
9    9HIS           9  0.000900      0.001674